<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
    <link rel="stylesheet" href="http://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body >
    <div>
      <mip-im style="background: #00f"></mip-im>
    </div>
    <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-audio/mip-audio.js"></script>
    <script src="/mip-im/mip-im.js"></script>
  </body>
</html>
